/*
main.css

Organization:

[HELPER CLASSES]
    basic stuff, like add to invisble or disable none
[GLOBAL]
    global styling
        font
        font style
        colors
[BASE LAYOUT]
    base layout
        height / width
        margin and padding
        font size
        shadows
[DESKTOP]
    desktop media queries and layout
[EXTERNAL]
    styling for external resources. ex icons and fonts
*/

/*---------------
    VARIABLES
-----------------*/

// Literal

$purple: #554488;
$green: #397D02;
$grey_dark: #808080;
$grey_medium: #D0D0D0;
$grey_light: #EFEFEF;
$black: #000000;

// General Purpose

$color_primary: $purple;
$color_accent: $green;

$filler_darkest: $black;
$filler_dark: $grey_dark;
$filler_medium: $grey_medium;
$filler_light: $grey_light;
$filler_lightest: white;

// Fonts

$font_body: 'Sniglet', cursive;
$font_code: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;;

/*---------------
   HELPER CLASSES
-----------------*/

.visible {opacity: 1;}
.invisible {opacity: 0;}
.none {display: none;}
.positionAbsolute {position: absolute;}
.positionStatic {position: static;}
.center {margin-left: auto; margin-right: auto;}

/*---------------
    GLOBAL
-----------------*/

/* global */

/* idk, does something */
@-ms-viewport{ width: device-width; }

html, body {
    color: $filler_darkest;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: $color_primary;
    overflow-x: hidden;
    font-family: $font_body;
}

/* inline */

h1, h2, h3, h4, h5, p {
    color: $filler_darkest;
    font-family: $font_body;
    padding: 5px 15px;
}

h1, h2 {
    text-align: center;
    padding: 15px inherit;
}

a {
    cursor: inherit;
    color: $color_accent;
    text-decoration: inherit;
    &:hover {
        text-decoration: underline;
    }
}

.icon {
    display: inline-block;
}

/* nav */

nav {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: $filler_light;
    box-shadow: 0 0 10px $filler_darkest;
}

nav i {
    color: $color_primary;
}

nav {
    font-size: 2em;
}

article {
    background-color: $filler_light;
}

code {
    color: $filler_lightest;
    background-color: $filler_darkest;
    font-family: $font_code;
}

p code {
    background-color: $filler_medium;
}

ul {list-style-type: square;}

blockquote {
    font-style: italic;
}

.post-meta-top {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.avatar {
    display: inline-block;
    border-radius: 20%;
}

.display-name {
    color: $filler_darkest;
    font-weight: bold;
}

.subtext {
    color: $filler_dark;
    font-size: 0.9em;
}

.middle > * {
    vertical-align: middle;
}

/*---------------------
 BASE (MOBILE) LAYOUT
-----------------------*/

//this media query is just for consistency
@media all {

    html {
        font-size: 16px;
        line-height: 1.3em;
    }

    .banner-left {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    .banner-right {
        margin-top: 10px;
        border-radius: 20px;
        padding: 10px 20px;
    }

    .img-large {
        height: 80px;
        width: 80px;
    }

    .img-mid {
        height: 50px;
        width: 50px;
    }

    .img-small {
        height: 30px;
        width: 30px;
    }

    nav {
        padding-top: 15px;
        height: 40px;
        i {
            font-size: 30px;
            font-size: 10vw;
            margin-left: 15px;
            margin-right: 5px;
        }
    }

    main {
        margin: 0 auto;
        padding-top: 60px;
    }

    img {
        height: 160px;
        width: 160px;
    }

    article {
        width: 90%;
        margin: 10px auto;
        padding: 10px;
        border-radius: 10px;
    }

    .banner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .post-author {
    }

    .post-meta-top {
        max-width: 230px;
        max-width: calc(95% - 60px);
        margin-left: 5px;
        line-height: 1.4em;
    }

    .post-meta-bottom {
        width: 100%;
    }

    .post-notes {
        width: 40%;
    }

    .post-tags {
        margin-bottom: 10px;
    }

    .post-action-bar {

        padding-right: 20px;
        float: right;
        text-align: right;
    }

    .post-action-bar > * {
        padding: 0 10px;
    }

    .content {
        padding: 10px 15px;
    }

    p {
        padding: 0 10px;
    }

    .extra {
        display: none;
    }
}

/*---------------
      TABLET
-----------------*/

@media all and (min-width: 500px){

    .post-meta-top {
        max-width: 400px;
        max-width: calc(95% - 60px);
    }

    article {
        width: 70%;
    }
}

/*---------------
     DESKTOP
-----------------*/

@media all and (min-width: 1000px){

    nav {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .extra {
        display: inherit;
    }

    article {
        width: 40%;
    }

    .extra {
        display: inline;
    }
}
